a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#page-title {
  text-align: center;
  color: white;
}

#page-subtitle {
  text-align: center;
  color: white;
}

#page {
  width: 100vw;
  height: 100vh;
  background-image: url(./img/penny-bus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}